{% extends 'base.html' %}

{% block body %}
<h1 style="font-family: Georgia">About Us</h1>

<p style="font-family: Georgia">Hi my name is Galvin Fickes and I am 18 years old. I am a senior in the Computer Science Academy at Oakland Technical High School. The purpose of this website is to stay up to date on what OTCSA alumni are up to 
    such as the college they are at or what their job is.</p>
    <img src = "https://media.istockphoto.com/id/1197074302/photo/happy-puppy-dog-running-on-playground-green-yard.jpg?s=612x612&w=0&k=20&c=8iZ6gpBS7PEPqIUqWLqHUGes9kQ2S8JOvNJ0RQrr1Gw=">
{% endblock %}